<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<div class="text-field">
  <%= form.label :animal_name %>
  <%= form.text_field :animal_name %>
</div>

<div class="text-field">
  <%= form.label :animal_type %>
  <%= form.text_field :animal_type %>
</div>

<div class="text-field">
  <%= form.label :hours_requested %>
  <%= form.number_field :hours_requested %>
</div>

<div class="date-field">
  <%= form.label :date %>
  <%= form.date_field :date %>
</div>
